.owl-stage-outer {
  padding-bottom: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  /* -webkit-border-radius: 0; */
  /* -moz-border-radius: 0; */
  /* border-radius: 0; */
  width: 20px;
  /* height: 5px; */
  margin-left: 2px;
  margin-right: 2px;
  background: #ccc;
  border: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots.clickable .owl-dot:hover span {
  background: #ffb400;
  width: 50px;
  animation-name: dotsWidth;
  animation-duration: 0.5s;
}

@keyframes dotsWidth {
  from {
    width: 20px;
  }
  to {
    width: 50px;
  }
}
