@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-splatter:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url(/img/splatter.png) 0 no-repeat;
  overflow: hidden;
}

.about-splatter:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  top: 65%;
  left: -29.5%;
  z-index: -1;
  background: url(/img/splatter.png) 0 0 no-repeat;
  transform: rotate(21.995deg);
  background-size: contain;
  overflow: hidden;
}

.glass {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

.text-outline-white {
  -webkit-text-stroke: 1.5px white;
}

.text-outline-black {
  -webkit-text-stroke: 0.75px black;
}
